<li>
  <%= link_to "#{comment.content}", comment_url(comment) %>
  <br>
  <%= comment.user.username %>
  <%= comment.created_at %>
  <ul>
    <% @all_comments.each do |child| %>
      <%= render 'comments/comment', comment: child if comment.id == child.parent_comment_id %>
    <% end %>
  </ul>
</li>
